In [1]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
import math
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2022-04-04 16:53:36,-33.0153,27.9116,70.74,83,20,5.75
1,1,Barauna,BR,2022-04-04 16:53:37,-5.0800,-37.6167,87.42,57,91,8.57
2,2,Upernavik,GL,2022-04-04 16:53:37,72.7868,-56.1549,26.22,76,99,2.62
3,3,Tessalit,ML,2022-04-04 16:53:37,20.1986,1.0114,103.75,3,1,15.35
4,4,Pevek,RU,2022-04-04 16:53:38,69.7008,170.3133,-21.59,98,28,2.46

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Barauna,BR,2022-04-04 16:53:37,-5.0800,-37.6167,87.42,57,91,8.57
6,6,Vila Velha,BR,2022-04-04 16:53:38,-20.3297,-40.2925,87.75,69,40,11.50
19,19,Noumea,NC,2022-04-04 16:53:41,-22.2763,166.4572,82.99,99,100,6.80
32,32,Vanimo,PG,2022-04-04 16:53:44,-2.6741,141.3028,77.23,90,97,5.84
33,33,Tifton,US,2022-04-04 16:51:17,31.4505,-83.5085,75.88,34,0,5.75
34,34,Bandar-E Lengeh,IR,2022-04-04 16:53:44,26.5579,54.8807,84.31,70,5,6.91
37,37,Arraial Do Cabo,BR,2022-04-04 16:51:14,-22.9661,-42.0278,85.96,70,20,12.66
41,41,Koungou,YT,2022-04-04 16:53:46,-12.7336,45.2042,83.91,79,0,4.61
42,42,Dingle,PH,2022-04-04 16:53:46,10.9995,122.6711,76.44,89,100,6.96
44,44,Hua Hin,TH,2022-04-04 16:53:47,12.5707,99.9588,84.00,48,93,3.49

In [14]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Barauna      BR     87.42  -5.0800  -37.6167
6        Vila Velha      BR     87.75 -20.3297  -40.2925
19           Noumea      NC     82.99 -22.2763  166.4572
32           Vanimo      PG     77.23  -2.6741  141.3028
33           Tifton      US     75.88  31.4505  -83.5085
34  Bandar-E Lengeh      IR     84.31  26.5579   54.8807
37  Arraial Do Cabo      BR     85.96 -22.9661  -42.0278
41          Koungou      YT     83.91 -12.7336   45.2042
42           Dingle      PH     76.44  10.9995  122.6711
44          Hua Hin      TH     84.00  12.5707   99.9588

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Barauna,BR,87.42,-5.0800,-37.6167,Pousada Rancho do Sabiá
6,Vila Velha,BR,87.75,-20.3297,-40.2925,Hotel Vitória Palace
19,Noumea,NC,82.99,-22.2763,166.4572,Hôtel Le Lagon
32,Vanimo,PG,77.23,-2.6741,141.3028,Vahmoneh Lodge Vanimo
33,Tifton,US,75.88,31.4505,-83.5085,Hilton Garden Inn Tifton
34,Bandar-E Lengeh,IR,84.31,26.5579,54.8807,کافی نت پارس
37,Arraial Do Cabo,BR,85.96,-22.9661,-42.0278,Pousada Porto Praia
41,Koungou,YT,83.91,-12.7336,45.2042,Villa Netibor
42,Dingle,PH,76.44,10.9995,122.6711,SEGAYA PROPERTY
44,Hua Hin,TH,84.00,12.5707,99.9588,"InterContinental Hua Hin Resort, an IHG Hotel"

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))